.video-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px + 50px;
  padding: 40px 0;
  height: 100%;

  .card-items-container {
    margin: 20px;
    padding: 20px;
    width: 310px;
    height: 360px;
    background-color: #E5E5E5;
    box-shadow: 1px 0px 5px #7a7a7a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .color-frame {
    border-bottom: 8px solid;
  }
}
