$light-blue-color: #2f80ed;

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-container {
  display: flex;
  align-items: center;

  .user-name {
    margin-right: 10px;
  }

  .mat-button {
    background-color: $light-blue-color;
    color: #FFFFFF;
    min-width: 34px;
    line-height: 0;
    padding: 0;
  }
}
