$light-blue-color: #2f80ed;

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .authorization-container {
    display: flex;
    align-items: center;

    .authorization-name {
      margin-right: 10px;
    }

    .mat-button {
      background-color: $light-blue-color;
      color: #FFFFFF;
      min-width: 34px;
      line-height: 0;
      padding: 0;
    }

    .mat-flat-button {
      background-color: transparent;
      line-height: 0;
      padding: 0;
      min-width: 34px;
      color: $light-blue-color;
    }
  }
}
