<div class="authorization-container">
  <button
    matTooltip="admin"
    routerLink="/admin"
    mat-mini-fab
    *ngIf="auth.isLoggedIn()"
  >
    <mat-icon class="admin-icon" rooterLink="/admin">
      admin_panel_settings
    </mat-icon>
  </button>
  <div class="user-block">
    <p class="authorization-name">{{ auth.userName }}</p>
    <button mat-button matTooltip="auth" routerLink="authorization">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      matTooltip="logout"
      mat-flat-button
      (click)="auth.logOut()"
      *ngIf="auth.isLoggedIn()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
