:host {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px + 50px;

  .form-registration {
    width: 850px;
    margin-top: 100px;
    background-color: #e5e5e5;
    padding: 40px 80px;
    border-radius: 10px;

    .title {
      margin-bottom: 40px;
      text-align: center;
      font-size: 26px;
      font-weight: bold;
    }

    .name-form-field {
      width: 100%;
      margin-bottom: 15px;
    }

    .data-form-field {
      width: 100%;
      margin-bottom: 15px;
    }

    .message-block {
      margin-top: 5px;
      width: 100%;
      height: 20px;

      .success-message {
        color: #2E8B57;
      }
    }

    .btns-block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .submit-btn {
        width: 100%;
        color: #FFFFFF;
      }
    }
  }
}
