:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
}

.card-items-container {
  margin: 20px 10px;
  padding: 20px;
  width: 260px;
  height: 360px;
  background-color: #E5E5E5;
  box-shadow: 1px 0px 5px #7a7a7a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-poster {
    width: 220px;
    height: 160px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .list-counts {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .counts-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .info-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }

      .info-count {
        margin-top: 4px;
        margin-left: 0.5em;
        font-size: 12px;
      }
    }
  }

  .block-title {
    width: 100%;
    text-align: right;

    .title-video {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .block-btn {
    width: 100%;
    text-align: center;

    .btn-more {
      width: 150px;
      color: #2F80ED;
    }
  }
}
