$light-blue-color: #2f80ed;

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px + 50px;

  .form-authorization {
    margin-top: 100px;
    width: 550px;
    background-color: #e5e5e5;
    padding: 40px 80px;
    border-radius: 10px;

    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .form-field {
      width: 100%;
    }

    .btns-block {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .registration-btn {
        color: $light-blue-color;
      }

      .login-btn {
        width: 200px;
        background-color: $light-blue-color;
        color: #FFFFFF;
      }
    }
  }
}
