<form
  class="form-authorization"
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
>
  <div class="title">Login</div>

  <mat-grid-list cols="1" rowHeight="300">
    <mat-grid-tile>
      <div class="forms-block">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error class="error">
            {{
              formGroup.controls['email'].value
                ? 'Please enter a valid email address'
                : 'Please enter your email address'
            }}
          </mat-error>
          <mat-hint *ngIf="formGroup.controls['email'].valid">
            Email successfully validated!
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Enter password</mat-label>
          <input
            matInput
            class="input"
            [type]="isVisible ? 'password' : 'text'"
            formControlName="password"
          />
          <mat-hint *ngIf="formGroup.controls['password'].valid">
            Password successfully validated!
          </mat-hint>

          <mat-error
            class="error"
            *ngIf="!formGroup.controls['password'].value"
          >
            Please enter your password
          </mat-error>

          <mat-error
            *ngIf="formGroup.controls['password'].hasError('hasNumber')"
            class="error"
          >
            at least 1 number
          </mat-error>

          <mat-error
            *ngIf="formGroup.controls['password'].hasError('minlength')"
            class="error"
          >
            at least 8 characters
          </mat-error>

          <mat-error
            *ngIf="formGroup.controls['password'].hasError('hasCapitalCase')"
            class="error"
          >
            at least 1 uppercase letter
          </mat-error>

          <mat-error
            *ngIf="formGroup.controls['password'].hasError('hasSmallCase')"
            class="error"
          >
            at least 1 lowercase letter
          </mat-error>

          <mat-error
            *ngIf="
              formGroup.controls['password'].hasError('hasSpecialCharacters')
            "
            class="error"
          >
            at least 1 special character (like @#%^)
          </mat-error>

          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="isVisible = !isVisible"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="isVisible"
          >
            <mat-icon>
              {{ isVisible ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="btns-block">
    <button
      type="button"
      class="registration-btn"
      routerLink="/registration"
      mat-stroked-button
    >
      Registration
    </button>
    <button mat-raised-button type="submit" class="login-btn" color="primary">
      Login
    </button>
  </div>
</form>
